name: Code Analysis

on:
  pull_request:
  push:
    branches: [main, develop]
    paths:
    - '**.cs'
    - '**.csproj'

jobs:
  run:
    name: Run
    # temporary fix do the self host after,  uses: IngSoft-DA2/workflows/.github/workflows/reusable-code-analysis.yml@self-hosted-runner
    uses: ./.github/workflows/reusable-code-analysis.yml
    permissions: write-all
    with:
      solution-name: FullStackProjectBackend.sln
